.container{
    background-color: #366141;
    width:23%;
    margin:10% auto;
    display:block;
}
kbd{
    background-color: #fff;
    height:50px;
    width:20px;
    border: 1px gray solid;
    margin-left: 0px;
    text-align: center;
}
body{
    background-color: #366141;
}